@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    text-align: center;
    .game {
        @include center();
        display: grid;
        grid-template-columns: auto auto auto;
        min-width: 500px;
        min-height: 500px;
        grid-gap: 10px;
        .block {
            border: 2px solid black;
            cursor: pointer;
        }
    }
}