@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$timesSize:200px;
$circleSize: 150px;
body {
    text-align: center;
    .game {
        @include center();
        display: grid;
        grid-template-columns: auto auto auto;
        min-width: 500px;
        min-height: 500px;
        grid-gap: 10px;
        .block {
            border: 2px solid black;
            cursor: pointer;
            position: relative;
            i {
                @include center();
            }
            .fa-times {
                font-size: $timesSize;
            }
            .fa-circle {
                font-size: $circleSize;
            }
            .hide {
                display: none;
            }
            .show {
                display: block;
            }
        }
    }
}